body{
 background-color:rgb(1, 25, 46);
 text-align:center;
 background-repeat: no-repeat;
}
input{
    width: 40%;
    background-color: rgb(9, 178, 194);
    
}
button{
    width: 20%;
    background-color: rgb(66, 35, 241);
}
h1,h5,h4,h3,h2,input{
text-align:center;
color: gold;
}
img{
    height:20%;
    width:20%;
}
